{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="banner-text">
                    <h1>ToDo</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="POST" class="mb-3 shadow">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="task" placeholder="Task Name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="priority" placeholder="Priority">
                </div>
                <div class="form-group">
                    <input type="date" class="form-control" name="date" placeholder="Date">
                </div>
                <input type="submit" class="btn btn-success" value="Add Task">
            </form>
        </div>
        <div class="col-md-6">
            <h4>Tasks to be Completed</h4>
            {% for i in task1 %}
            <div class="card mb-3 shadow">
                <div class="card-body">
                    <h5 class="card-title">{{ i.name }}</h5>
                    <p class="card-text"><b>Priority:</b> {{ i.priority }}</p>
                    <p class="card-text"><b>Date:</b> {{ i.date }}</p>
                    <a class="btn btn-danger" href="{% url 'delete' i.id %}">Done</a>
                    <a class="btn btn-success" href="{% url 'update' i.id %}">Update</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
